/* Variables used throughout will go here. */
body {
  background: url("https://i.imgur.com/bkV3lO1.jpg"); }

/* CSS code for the Navbar section. */
.socialIcon {
  margin: .5em; }

/* CSS code for the Header section. */
.jumbotron1 {
  Background: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
  background-size: auto 100%;
  height: 1000px; }

.header1 {
  font-size: 150px;
  font-family: 'VT323', monospace;
  padding-top: 100px;
  text-align: center;
  color: grey; }

.header2 {
  font-family: 'VT323', monospace;
  font-size: 100px;
  padding-top: 150px;
  text-align: center;
  color: grey; }

/* CSS code for the Portfolio section. */
.portfolioH1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 75px; }

/* CSS code for the About section. */
.container3 {
  padding-left: 3em; }

/* CSS code for the Contact section. */
.contact {
  margin: .3em; }

#logo {
  padding-top: 1em; }

/* CSS code for the Footer section. */
footer {
  background-color: #222222;
  padding: 60px 0px; }

footer ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding-top: 50px; }

footer ul li {
  float: left; }

footer ul li a {
  color: #b1aca1;
  padding: 20px; }

footer ul li a:hover {
  color: #7dabdb;
  text-decoration: none; }

.footer-top {
  padding-bottom: 50px; }

.footer-top .fa {
  font-size: 18px;
  color: #FFF;
  padding-right: 10px; }

.footer-top a {
  color: #FFF;
  text-decoration: none; }

.footer-top .col-lg-2:hover .fa, .footer-top .col-lg-2:hover a {
  color: #7dabdb; }

.copyright {
  background-color: #f0f0f0; }

.copyright p {
  font-size: 12px;
  padding: 15px 0 10px 0; }
