/* CSS code for the Header section. */
.jumbotron1 {
  background: transparent;
}

.container1 {
  Background: url('https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif');
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.header1 {
  text-align: center;
  color: grey
}

.header2 { 
  text-align: center;
  color: grey;
}